*{
	font-family: Lobster, cursive;
}
body{
	background-color: #222;
}
input{
	height: 36px;
	padding: 2px;
}
.labInp{
	display: flex;
	justify-content: space-between;
	width: 350px;
	color: #999;
}
.labInp input{
	margin-bottom: 20px;
}
a#changeStyle{
	font-weight: bold;
	font-size: 1.2em;
	color: #fff;
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 55px;
	padding: 30px;
	height: calc(100% - 60px);
	background: rgba(100, 100, 100, 0.5);
}
a#changeStyle svg{
	position: absolute;
	top: 30%;
	left: 20%;
}
a#changeStyle:hover{
	background: rgba(100, 100, 100, 0.6);
}
#interactDiv{
	border-top: 2px groove gray;
	padding-top: 2px;
	width: calc(100vw - 124px);
}
#interactDiv input{
	float: left;
	margin-bottom: 10px;
	width: 80px;
}
#table1{
	clear: both;
	margin: 10px auto 0 auto;
}
#table1 td{
	height: 15px;
	width: 15px;
}